{% load static %}

<body class="bg-gray-100 text-white ">
    <!-- Header -->
    {% include 'header.html' %}

    <!-- Main Content -->
    <section class="hero-section">
        <h1 class="hero-title">Elevate Your Fitness with FitMore</h1>
        <p class="hero-description">
            FitMore is not just a gym; it’s an entire ecosystem designed to empower you on your fitness journey. 
            Whether you’re a beginner looking to start small or a seasoned athlete aiming for new personal records, 
            FitMore provides world-class equipment, expert trainers, and a vibrant community to keep you motivated.
        </p>
        <p class="hero-description">
            Our mission is to blend cutting-edge technology with personalized fitness plans, ensuring that every 
            workout session is efficient and enjoyable. With a focus on holistic well-being, FitMore integrates 
            strength training, cardio workouts, and recovery techniques to help you achieve peak performance.
        </p>
    </section>

    <!-- Image Grid -->
    <section class="uneven-images">
        <img src="{% static 'images/1.jpg' %}" alt="State-of-the-art Equipment">
        <img src="{% static 'images/2.jpg' %}" alt="Dynamic Workout Spaces">
        <img src="{% static 'images/3.jpg' %}" alt="Community-driven Fitness">
        <img src="{% static 'images/4.jpg' %}" alt="Expert Training Sessions">
        <img src="{% static 'images/5.jpg' %}" alt="Modern Facilities">
        <img src="{% static 'images/6.jpg' %}" alt="Modern Facilities">
    </section>
    <!-- Footer -->
    {% include 'footer.html' %}
</body>

</html>
